<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qi.zhongyi.shuangchen.baodian"
    >

    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="andorid.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".ZYiMainActivity">
        </activity>
        <activity android:name=".GuideViewActivity">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity">
        </activity>
        <!--讯飞语音版本管理-->
        <!--请将以下示例代码中 your_channel 替换为您自定义的渠道名称。
            格式：32 个字符以内，支持中文、英文、数字，请勿使用其他符号。-->
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value=""
            >
        </meta-data>
        <!--your_appid 替换为您在讯飞开放平台(http://www.xfyun.cn)申请的应用 appid。-->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'581308ce'"
            >
        </meta-data>

        <activity
            android:name="com.iflytek.autoupdate.IFlytekUpdateDialog"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            >

        </activity>
        <!-- 下载基础服务 -->
        <service
            android:name="com.iflytek.autoupdate.IFlytekDownloadService"
            android:enabled="true"
            android:process=":IFlytekDownloadService"
            />

    </application>

</manifest>